.services-item1{
background-image:url(https://via.placeholder.com/150x100);
width: 150px;
height: 100px;
}

.services-item2{
background-image:url(https://via.placeholder.com/150x100);
width: 150px;
height: 100px;
}

.services-item3{
background-image:url(https://via.placeholder.com/150x100);
width: 150px;
height: 100px;
}

